#submit{
    background: url(/images/grd_reg_button.png);
    border: 1px solid #E4E4E4;
    font: bold 13px sans-serif;
    border-radius:5px ; 
   -webkit-border-radius:5px ; 
   -moz-border-radius:5px ;  
    padding-left: 7px;
    padding-right: 7px;
    height: 33px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 15px;  
}
#submit:active{
    background: url(/images/grd_reg_button_vert.png);
}
.h2-title{
    font: 20px sans-serif;
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 3px;
}

#form-registration{
    margin-top: 30px;
}
#form-registration li{
    margin-top: 10px;
}
#form-registration > li > input{
    height: 30px;
    width: 320px;
    font: 17px sans-serif;
    margin-left: 200px;
    padding-left: 5px;
    color: black;
    border-left:1px solid #ABABAB ;
    border-top:1px solid #ABABAB ;
    
    border-right:1px solid #DDDDDD ;
    border-bottom:1px solid #DDDDDD ;
}
#form-registration > li > label{
    position: absolute;
    font: 15px sans-serif;
    margin-top: 7px;
}
.star{
    font: 16px sans-serif;
    color: #E35903;
    position: absolute;
    margin-left: 188px;
    margin-top: 10px;
}

#form-registration > li > input:focus{
 border: 1px solid #C4E1EB;
}
#form_submit{
    background: url(/images/grd_reg_button.png);
    border: 1px solid #E4E4E4;
    font: bold 13px sans-serif;
    border-radius:5px ; 
   -webkit-border-radius:5px ; 
   -moz-border-radius:5px ;  
    padding-left: 7px;
    padding-right: 7px;
    height: 33px;
    cursor: pointer;
    margin-top: 10px;
 }
#form_submit:active{
    background: url(/images/grd_reg_button_vert.png);
}
.error{
    font: italic 14px sans-serif;
    color: #CC0063;
    margin-left: 5px;
}
.reg_message_good{
    font: 18px sans-serif;
    color: black;
    background-color: #EDEDFF;
    border: 1px solid #E6E6FE;
}
.reg_message_error{
    font: bold 14px sans-serif;
    color: red;
    background-color: #F7EDEF;
    border: 1px solid #FAC8D3;
}
#reg_message{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: none;
}
#spisok{
    margin-top: 10px;
    font-family: sans-serif;
    text-align: center;
}
#list-links{
    background-color: white; 
   padding-top: 20px;
   padding-bottom: 7px;
}
table{
margin: auto;
padding: 5px;
font-family: sans-serif;
font-size: 15px;
border: 2px solid black;
}
td{
     border: 1px solid black;
}
